{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center page-title">Your Cart</h1> 
    
    <form class="contact-form" action="{% url 'cart' %}" method="post" >
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleFormControlInput1">Enter Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name" name="name">
        </div>           
          <button type="submit" class="btn btn-primary mb-2">Submit order</button>   
      </form>

    <h2>{{name}}</h2>
    <h2>{{meat}}</h2>
    <h2>{{side1}}</h2>
    <h2>{{side2}}</h2>
    <h2>${{price}}</h2>

</div>

{% endblock %}