{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="jumbotron jumbotron-fluid " style="height: 25vh; background-image: url(https://images.unsplash.com/photo-1604964432806-254d07c11f32?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZGV2ZWxvcGVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);background-repeat: no-repeat; background-size: cover;">

        <div class="container">
            <h1 class="display-4 text-white ">About Coder Cafe</h1>
            <h3 class="lead text-white text-center">Inspired by Coffee, Food, and Code!</h3>
        </div>
    </div>

    <h1>We are a local group of deveopers who love coffee, food, and code.</h1>
    <p class="h3">We decided to tranfer our love for these items into one place, so we opened up Coder Cafe. This is a place where people can come and enjoy all the things that we enjoy. All within a good clean environment. </p>
    <p class="h3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, eaque esse magni iure repudiandae minus voluptas voluptatibus commodi, temporibus nam, soluta quia rem nisi incidunt inventore voluptates deserunt nulla cupiditate.</p>

</div>

{% endblock %}